@media (max-width:992px){
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .all-area{
        grid-template-columns: repeat(2, 1fr);
    }

}



@media (max-width:668px){
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs .blog{
        display: block;
    }
    .all-area{
        grid-template-columns: repeat(1, 1fr);
    }
}